<!Doctype html>
<html lang="en">
	<head>
		<meta charset = 'UTF-8'>
		<title> Soccer </title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
		<%- include ('partials/header.ejs') %>
		
		<main>
				
					<div class="display">	
						<div>
						<h4 class="color2"><b><%= connection.connName %> Next Fixtures:</b><br> </h4>
						<p class="color1"><%= connection.connFixtures %>&ensp;&emsp;&emsp;&emsp;&emsp;</p>
						</div>
						<div>
						<h4 class="color2"><b>Ready for Meetup?</b><br> </h4>
						<p>
						<button onclick="window.location.href='savedConnections'" type="submit">Yes</button>
						<button onclick="window.location.href='savedConnections'" type="submit">No</button>
						<button onclick="window.location.href='savedConnections'" type="submit">Maybe</button><br></p>
						</div>
						<div>
						<img src="photo5.jpg" alt="" class="img5">
						</div>
						<div class="Host"><br><br><br>
						Hosted by: <%= connection.connName %> <br>
						Date: <%= connection.date_time %><br>

						</div>
					</div>
			
				<div class="Details"><br>&emsp;&emsp;
					<%=connection.details%>
				</div>
					
				<br>
			
		</main>			

		<%- include ('partials/footer.ejs') %>
		
	</body>
</html>