<!Doctype html>
<html lang="en">
	<head>
		<meta charset = 'UTF-8'>
		<title> Soccer </title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
		<%- include ('partials/header.ejs') %>
		
		<main class="color1">
			<section>
			 
			<% topics.forEach(function (type) { %><br>
				<%= type %>
				<ul>
				  <% connections.forEach(function(connection){
					if (connection.connTopic === type){ %> 
					  <li>
						<a href="/connection?connId=<%= connection.connId %>" target="_self" class="color1"><%= connection.connName %></a>
					  </li>
					<% }
				  }) %>
				</ul>
			  <% }) %>
			</section>
		  </main>
					
		

		<%- include ('partials/footer.ejs') %>
		
	</body>
</html>